
body, h1 {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}


#dynamic-data {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
